@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

body {
  background-color: hsl(191, 49%, 82%);
  margin-top: 100px;
}
img {
  border-radius: 15px;
  margin-top: 15px;
  width: 250px;
  
}

* {
  text-align: center;
  font-family: "Outfit", sans-serif;
}

p {
  font-size: 15px;
  color: hsl(191, 6%, 70%);
  padding-bottom: 75px;
  font-weight: 400;
  margin-right: 25px;
  margin-left: 25px;
}
h2{
  font-weight: 700;
  padding: 0 15px;
  width: 260px;
}


/*for white container*/
  .container{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    width: 280px;
    height: 465px;
    margin: 20px auto;
  }

